@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
   font-family: 'Roboto', sans-serif;
}
#root{

    background-color: #e6e6e6;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 6vh;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    gap: 35%;
}


.header-items{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
}
.header-item{
    display: flex;
    height: 100%;

  height: 3.5vh;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: center;
    min-width: 9%;
    
}
.header-name{
    font-size: 1.1rem;
}
.header-company{
    font-size: 1.5rem;
}
.header-search{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 15%;
    gap: 5px;
    
}


.header-search input{
    width: 100%;
    padding: 5px;
}
#search-btn img{
    width: 55%; 

}


.page-title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
}



.home-content{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
    
}
.home-news{
    background-color: #ececec;
  width:450px ;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .2s;

}

.home-news img{
    width: 100%;
    height: 30vh;
}
.home-news:hover{
    transform: scale(1.02);
    
}


.home-news p{
    width: 90%;
    margin: 0 auto;
}
.news-content{
    font-size: 1.25rem;
}


.title {
    font-weight: bold;
    text-align: center;

    font-size: 1.4rem;
}



.slider{
    position: relative;
    height: 75vh;
    width: 70%;
    margin: 0 auto;
}
.slide{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s linear;
}
.slide img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    
}
.active{
    opacity: 1;
}
.slider-button-right{
    position: absolute;
    
    bottom: 50%;
    right: 0%;
   
    background: none;

    width: 50px;
    height: 50px;
    color: white;
    border: 0;

    filter: drop-shadow(0 0 1px white) 
   
}
.slider-button-right :hover{
   
    transform:scale(1.1);


}
.slider-button-left :hover{
    transform:scale(1.1);

}
.slider-button-left{
    position: absolute;
    padding-left: 10px;
    bottom: 50%;
    left: 0%;
    background: none;


    width: 50px;
    height: 50px;
    color: white;
    border: 0;
    filter: drop-shadow(0 0 1px white) 
}


.slider-button button:hover{
    border: 1px solid white;
}

.page-number-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 20px;
}
.page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    gap: 10px;
    flex-wrap: wrap;
}
.page-button button{
    width: 30px;


    font-size: 0.9rem;
    font-weight: bold;
}

.categories{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.category-selector {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    padding-top: 30vh;

}

.category-selector label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.check-box{
    width: 23px;
    height: 23px;
}
.category-title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.categories-content{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
      
  }
  .projects-link{
    margin-left: 30px;
  }
  .projects-link img{
    width: 35px;
    height: 35px;

  }

  .portfolio-content{
    height: 50vh;
}



.personal-info{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.personal-info p {
    font-size: 1.25rem;
}
.personal-info img{
    width: 70%;
    border-radius: 10px;
}
.personal-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
@media (min-width: 200px) and (max-width: 600px) {
    
    .home-news{
        height: 80vh;
    }
    .slider{
        width: 90%;
        height: 100vh;
    }
    .slider-button{
        position: absolute;
        
        
    }
    .category-selector {
        width: 30%;
        padding-top: 30vh;
    
    }
    .category-selector h1{
        font-size: 1.4rem;
    }


    .category-selector label{
        font-size: 0.90rem;
    }
    .check-box{
        width: 20px;
        height: 20px;
    }
    .categories-content{
        width: 70%;
    }

    .portfolio-content{
        height: 60vh;
    }

    .personal-info img{
        width: 100%;
    }
   
    
}




@media (min-width: 601px) and (max-width: 1000px) {
    .home-news{
        height: 80vh;
    }
    .slider{
        height: 81vh;
    }
    .slider-button{
        position: absolute;
        
        bottom:0px;
        right: 0px;
       
    }

    .category-selector {
        width: 30%;
    }
    .portfolio-content{
        height: 48vh;
    }

    

    .category-selector label{
        font-size: 1.3rem;
    }
    .check-box{
        width: 20px;
        height: 20px;
    }
    .categories-content{
        width: 70%;
    }
   
    
}